<h1>Nueva Postulaci贸n para <%= @application.job_offer.title %></h1>

<p>Estimado administrador,</p>

<p>El usuario <strong><%= @application.user.name %></strong> (<%= @application.user.email %>) ha realizado una postulaci贸n para el puesto de <strong><%= @application.job_offer.title %></strong>.</p>

<% if @application.description.present? %>
  <p><strong>Descripci贸n del postulante:</strong></p>
  <p><%= @application.description %></p>
<% end %>

<p>Revisa los detalles en la plataforma de administraci贸n.</p>

<p>Saludos,</p>
<p>El equipo de SolPuesto</p>
