<h1>Usuarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to 'Ver', admin_user_path(user), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Editar', edit_admin_user_path(user), class: 'btn btn-sm btn-warning' %>
          <%= form_with url: admin_user_path(user), method: :delete, data: { confirm: '¿Estás seguro?' } do %>
          <%= submit_tag 'Eliminar', class: 'btn btn-sm btn-danger' %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Crear Nuevo Usuario', new_admin_user_path, class: 'btn btn-success' %>
